providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/media/thomas/U/workspace/cs407/lab1"
          source: "/media/thomas/U/workspace/cs407/lab1/.build-tools.cson"
          name: "lab1"
          command: "gcc lab1-client.c"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output: {}
          version: 2
        }
      ]
  }
]
